*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.weather-out{
    margin-top: 2%;
    border:8px grey solid;
    height:60%;
    width:60%;
    position:absolute;
    top: 12%;
    left: 15%;
    border-radius: 8%;
    animation: move 4s ease-in-out infinite alternate;
}
@keyframes move {
    0% {background:rgb(148, 145, 140); border:8px rgb(53, 87, 126) solid;background-image: url(../public/cl.jpg);background-size: cover;}
    25% {background:rgb(148, 145, 140);border:8px rgb(61, 129, 141) solid;background-image: url(../public/sun.jpg);background-size: cover;}
    50%{background: rgb(161, 167, 139);border:8px solid rgb(80, 87, 72);background-image: url(../public/rain.jpg);background-size: cover;}
    75%{background: rgb(83, 78, 83);border:8px solid rgb(155, 155, 143);background-image: url(../public/thun.jpg);background-size: cover;}
    100%{background: gray;border:8px solid rgb(177, 212, 120);background-image: url(../public/thun2.jpg);background-size: cover;}
  }
h2{
    text-align: center;
}
.weather-inner{
    display: flex;
    border:4px grey solid;
    height:100%;
    width:100%;
    position:absolute;
    top: 15%;
    left: 15%;
    border-radius: 5%;
    background:rgb(52, 57, 83);
}

#input-city{
    border-radius: 5%;
    background-color: rgb(161, 187, 187);
    height:40px;
    width:80%;
    padding:5px;
    text-align: center;
    font-size: medium;
    font-family: 500;
    color: blue;
    text-decoration: none;
    border: 1px solid grey;
}
#btn{
    border-radius: 8%;
    background-color: rgb(113, 110, 121);
    height:20%;
    width:10%;
    padding:1%;
    text-decoration: none;
    border:none;
    font-size: medium;
}
#btn:hover{
    
    color: whitesmoke;
    cursor: pointer;
}

.find-city{
    text-align: center;
    margin-top: 2%;
}
.w-pic{
    color: rgb(63, 231, 175);
    text-align: center;
    border-radius: 8%;
   height: 50%;
   width: 40%;
}
#image{
    width: 70%;
    height: 80%;
    animation: run 4s linear infinite alternate-reverse;
}
@keyframes run {
    0%{margin-right: 20%;}
    25% {margin-right:10%}
    50%{margin-right:20%}
    75%{margin-left:20%}
    100%{margin-left:20%}
  }
  .s-desc p{
      font-size:large
  }

  .details{
      color:rgb(245, 143, 211);
    font-family:'Courier New', Courier, monospace;
    border-radius: 8%;
    height: 100%;
    width: 60%;

  }
  .det{
      display: flex;
      flex-wrap: wrap;
      
  }
